// ------------------------------------------------- //
// Projects configuration variables                  //
// ------------------------------------------------- //

// Susy configuration
@import "bower_components/susy/sass/susy";
$susy: (
	columns: 12,
	gutters: 30px/65px,
	container: 1110px,
);

// Typography Variables
// -------------------------------------------------

// Project base font family
// ==================================
$playfair:          'Playfair Display', serif;
$source:            'Source Sans Pro', sans-serif;
// ==================================

// Basic Typography
$base-font-size:       16px;
$base-line-height:     24px;
$font-size:            $base-font-size !default;
$browser-font-size:    16px !default;

// Body type
$body-font-family:     $source !default;
$body-font-weight:     400 !default;
$body-font-style:      normal !default;

// Heading type
$heading-font-family:  $playfair !default;
$heading-font-weight:  700 !default;
$heading-font-style:   normal !default;

// Color Variables
// -------------------------------------------------

// Project base color
// ==================================
$black:         #000 !default;
$black-light:   #232323 !default;
$white:         #fff !default;
$palm:          #fbf1eb !default;
$palm-dark:     #f7c8b3 !default;
$grey:          #eee !default;
$grey-dark:     #cdcdcd !default;
$grey-dark-2:   #a3a3a3 !default;
$grey-darker:   #858585 !default;
// ===================================

// Base colors
$body-bg-color:        #f9f9f9 !default;
$border-color:         $grey !default;
$selection-bg-color:   $palm !default;
$selection-font-color: $black !default;

// Typography colors
$body-font-color:      $black-light !default;
$heading-font-color:   $black-light !default;

// Link colors
$link-color:           $black !default;
$link-hover-color:     $palm-dark !default;
$link-visited-color:   $black !default;
