.page-wrapper {
	background-color: $body-bg-color;

	.boxed-container & {
		max-width: 1200px;
		margin: 0 auto;
		box-shadow: 0 0 10px rgba( 0, 0, 0, .05 );
	}

}

.framed-container {
	@extend .boxed-container;
	margin: 0 auto;

	@include susy-media( 1025px ) {
		margin: 40px auto;
	}
}

.container {
	@include container;
	padding: 0 30px;

	@include susy-media( 1170px ) {
		padding: 0;
	}
}

.content-area {
	@include susy-media( 801px ) {
		@include span( 8 of 12 );
	}

	.layout-full-width & {
		@include full;
	}

	.layout-full-width-narrow & {
		width: span( 8 of 12 );
		margin: 0 auto;
		float: none;
	}

	.layout-left-sidebar & {
		@include susy-media( 801px ) {
			@include span( 8 of 12 last );
		}
	}

}

.widget-area {

	@include susy-media( 801px ) {
		@include span( 4 of 12 last );
		@include prefix( 2.7% );
	}

	@include susy-media( 1025px ) {
		@include prefix( 5.7% );
	}

	.layout-left-sidebar & {
		@include susy-media( 801px ) {
			@include span( 4 of 12 );
			@include suffix( 5.7% );
			padding-left: 0;
		}
	}

}

/**
 * Blog layouts
 */
.layout-grid-two-right-sidebar,
.layout-grid-two-left-sidebar,
.layout-grid-three,
.layout-grid-four,
.layout-masonry-two-right-sidebar,
.layout-masonry-two-left-sidebar,
.layout-masonry-three,
.layout-masonry-four {

	.content-area {
		@extend %clearfix;

		.content {

			.thumbnail-link {
				margin-bottom: 0;

				&:hover {
					.entry-title {
						span {
							background-color: transparent;
							color: $palm-dark;
						}
					}
				}
			}

			.entry-title {
				font-size: 22px;
				position: relative;
				bottom: auto;
				width: auto;
				left: auto;
				margin: 18px 0;
				line-height: 1.4;

				span {
					padding: 0;
					background-color: transparent;
				}
			}

		}

	}

	.content-text {
		padding-left: 0;
	}

}

.layout-grid-two-right-sidebar,
.layout-grid-two-left-sidebar,
.layout-masonry-two-right-sidebar,
.layout-masonry-two-left-sidebar {

	.content-area {

		.entry {
			@include susy-media(768px) {
				@include span( 4 of 8 );

				&:nth-child( 2n ) {
					@include last;
				}

				&:nth-child( 2n+1 ) {
					clear: left;
				}
			}
		}

	}

}

.layout-grid-three,
.layout-masonry-three {

	.content-area {

		.entry {

			@include susy-media(768px) {
				@include span( 6 of 12 );

				&:nth-child( 2n ) {
					@include last;
				}

				&:nth-child( 2n+1 ) {
					clear: left;
				}
			}

			@include susy-media(900px) {
				@include span( 4 of 12 );

				&:nth-child( 2n ) {
					float: left;
					margin-right: gutter();
				}

				&:nth-child( 2n+1 ) {
					clear: none;
				}

				&:nth-child( 3n ) {
					@include last;
				}

				&:nth-child( 3n+1 ) {
					clear: left;
				}
			}

		}

	}
}

.layout-grid-four,
.layout-masonry-four {

	.content-area {

		.entry {

			@include susy-media(768px) {
				@include span( 6 of 12 );

				&:nth-child( 2n ) {
					@include last;
				}

				&:nth-child( 2n+1 ) {
					clear: left;
				}
			}

			@include susy-media(900px) {
				@include span( 4 of 12 );

				&:nth-child( 2n ) {
					float: left;
					margin-right: gutter();
				}

				&:nth-child( 2n+1 ) {
					clear: none;
				}

				&:nth-child( 3n ) {
					@include last;
				}

				&:nth-child( 3n+1 ) {
					clear: left;
				}
			}

			@include susy-media(1110px) {
				@include span( 3 of 12 );

				&:nth-child( 3n ) {
					float: left;
					margin-right: gutter();
				}

				&:nth-child( 3n+1 ) {
					clear: none;
				}

				&:nth-child( 4n ) {
					@include last;
				}

				&:nth-child( 4n+1 ) {
					clear: left;
				}
			}

		}

	}
}

.layout-list-right-sidebar,
.layout-list-left-sidebar,
.layout-list-full-width,
.layout-list-full-width-narrow {

	.content-area {

		.content {

			.thumbnail-link {
				margin-bottom: 0;
				@include span( 3 of 8 );

				&:hover {
					.entry-title {
						span {
							background-color: transparent;
							color: $palm-dark;
						}
					}
				}
			}

			.entry-title {
				font-size: 24px;
				position: relative;
				bottom: auto;
				width: auto;
				left: auto;
				margin: 0 0 18px;
				line-height: 1.4;

				span {
					padding: 0;
					background-color: transparent;
				}
			}

		}

	}

	.content-text {
		padding-left: 0;
		overflow: hidden;
	}

}
