// Configuration
@import "config";
@import "helpers/mixins";

/*------------------------------------*
	$NORMALIZE
*------------------------------------*/
@import "base/normalize";

/*------------------------------------*
	$LAYOUTS
*------------------------------------*/
@import "layout";

/*------------------------------------*
	$MAIN
*------------------------------------*/
$body-bg-color: #fff;
@import "base/main";

/*------------------------------------*
	$SHARED
*------------------------------------*/
@import "base/shared";
@import "helpers/placeholder";

/*------------------------------------*
	$TYPOGRAPHY
*------------------------------------*/
@import "base/typography";

body {

	.wp-block[data-align="full"] {
		width: 100%;
	}

	@media (min-width: 576px) {

		.wp-block[data-align="full"] {
			width: calc( 100% + 90px );
			max-width: calc( 100% + 90px );
		}
	}

	@media (min-width: 768px) {

		.wp-block[data-align="wide"] {
			width: 100%;
		}

		.wp-block[data-align="full"] {
			position: relative;
			left: calc( -12.5% - 14px );
			width: calc( 125% + 116px );
			max-width: calc( 125% + 115px ); // Subtract 1px here to avoid the rounding errors that happen due to the usage of percentages.
		}

		.wp-block[data-align="right"] {
			max-width: 125%;
		}
	}
}

/** === Content Width === */
.wp-block {
	width: span(8 of 12);
	max-width: 100%;

	// Only the top level blocks need specific widths, therefore override for every nested block.
	.wp-block {
		width: 100%;
	}
}
