.site-header {
	@extend %clearfix;
	padding-bottom: 94px;
	border-bottom: 1px solid $border-color;

	.framed-container & {
		margin-top: 43px;
	}

	.home &,
	.archive &,
	.attachment & {
		border-bottom: 0;
	}

	.header-style-three & {
		padding-top: 80px;
	}

}

.site-branding {
	text-align: center;

	@include susy-media(800px) {
		@include span( 4 of 12 );
		text-align: left;
	}

	.header-style-two &,
	.header-style-three & {
		@include full;
		text-align: center;

		.site-title {
			margin-bottom: 2px;
		}
	}

	.site-title {
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 15px;

		@include susy-media(400px) {
			font-size: 72px;
		}

		a {
			font-weight: 700;
		}
	}

	.site-description {
		font-size: 16px;
		font-family: $source;
		font-weight: 400;
		line-height: 1.5;
		color: $black-light;
		margin: 0;
	}

}
