.site-navigation {
	@extend %clearfix;
	margin-bottom: 80px;
	padding-top: 43px;

	@include susy-media(400px) {
		margin-bottom: 108px;
	}

	.header-style-three & {
		padding-top: 0;
		border-bottom: 1px solid $border-color;
		margin-bottom: 0;
	}
}

.main-navigation {
	@include span( 12 of 12 last );
	line-height: 35px;

	@include susy-media(400px) {
		@include span( 8 of 12 last );
	}

	@include susy-media(801px) {
		@include span( 10 of 12 last );
	}

	.header-style-three & {
		line-height: 40px;
	}
}

.menu-primary-items {
	@extend %reset-list;
	text-align: right;
	display: none;

	@include susy-media( 769px ) {
		display: block;
	}

	li {
		position: relative;
		display: block;

		@include susy-media( 769px ) {
			display: inline-block;
			margin-right: 40px;
		}

		&:hover {
			@include susy-media( 769px ) {
				> .sub-menu {
					opacity: 1;
					visibility: visible;
					transition: all 200ms linear;
					top: 100%;
				}
			}
		}

		&.menu-item-has-children {
			&:hover {
				> a {
					border-bottom: 0;
				}
			}
		}

		&:last-child {
			margin-right: 0;
		}

		> a {
			padding: 10px 0;
		}
	}

	a {
		font-size: 14px;
		text-transform: uppercase;
		transition: none;
		display: block;
		color: $white;
		@include susy-media( 769px ) {
			line-height: 1.5;
		}

		@include susy-media(801px) {
			color: $black;
			font-size: 12px;
		}

		.header-style-three & {
			border-bottom: 2px solid transparent;
		}

		&:hover {
			color: $palm_dark;
			@include susy-media( 769px ) {
				border-bottom: 2px solid $palm_dark;
			}
		}

	}

	.sub-menu {
		@extend %reset-list;
		padding: 5px 0;
		text-align: left;
		border-top: 0;

		@include susy-media( 769px ) {
			position: absolute;
			z-index: 9999;
			top: 50px;
			left: 0;
			opacity: 0;
			visibility: hidden;
			min-width: 180px;
			background-color: $black;
		}

		ul {
			top: 0;
			left: 100%;
			display: none;
		}

		li {
			display: block;
			padding: 0 20px;
			border-bottom: 0;

			@include susy-media( 769px ) {
				margin-right: 0;
			}

			&:last-child a {
				border-bottom: 0;
			}

			a {
				padding-right: 0;
				margin-right: 0;
			}

			&.menu-item-has-children {
				&:hover {
					> a {
						border-bottom: 1px solid rgba( $white, .2 );
					}
				}
			}

			&:hover {
				@include susy-media( 769px ) {
					> .sub-menu {
						top: 0;
						display: block;
					}
				}
			}

			&.edge ul {
				left: auto;
				right: 100%;
			}

		}

		a {
			font-size: 14px;
			line-height: 1.5;
			display: block;
			padding: 10px 0;
			text-transform: capitalize;
			color: $white;
			border-bottom: 1px solid rgba( $white, .2 );

			&:hover {
				color: $palm_dark;
			}
		}

	}
}

/**
 * Mobile Menu
 */
.menu-toggle {
	line-height: 1.5;

	&:hover,
	&:focus {
		background-image: none;
	}

	&:active {
		box-shadow: none;
	}
}

.main-navigation.toggled > ul {
	width: 100%;

	@include susy-media(768px) {
		width: 40%;
	}

	@include susy-media(max-width 801px) {
		display: block;
		clear: both;
		background-color: $black;
		float: right;
		padding: 20px;
	}

	ul {
		text-align: right;

		li {
			padding-right: 0;
		}

		a {
			position: relative;
			&::after {
				content: "\00af";
				display: inline-block;
				color: #fff;
				font-size: 30px;
				line-height: 0;
				vertical-align: text-bottom;
				padding-left: 10px;
			}
		}
	}
}

.menu-toggle {
	display: block;
	float: right;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;

	@include susy-media(400px) {
		width: auto;
	}
}

@include susy-media( 769px ) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

@keyframes submenuShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
