.error404 {
	.site-content {
		margin-bottom: 142px;
	}
}

.error-404 {
	width: 70%;
	margin: 0 auto;

	.page-content {

		h3 {
			font-size: 24px;
			line-height: 1.3;
			font-weight: 400;
			font-family: $source;
		}

		p {
			margin-bottom: 46px;
		}
	}

	.search-area {
		text-align: center;

		input {
			height: 3em;
			font-size: 16px;
			width: 385px;

			&::-webkit-input-placeholder {
				color: #9a9a9a;
				text-transform: uppercase;
				letter-spacing: -1px;
			}

			&::-moz-placeholder {
				color: #9a9a9a;
				text-transform: uppercase;
				letter-spacing: -1px;
			}

			&:-ms-input-placeholder {
				color: #9a9a9a;
				text-transform: uppercase;
				letter-spacing: -1px;
			}

			&:-moz-placeholder {
				color: #9a9a9a;
				text-transform: uppercase;
				letter-spacing: -1px;
			}
		}

		button {
			text-transform: uppercase;
			font-weight: 700;
			padding: .8em 1em;
		}
	}

}
